html, body {
	margin: 0 auto;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	background-image: url('images/grey.png');
	background-repeat: repeat;
}

h1 {
	font-family: 'Poiret One', cursive;
}

i {
	color: #000;
}

i:hover {
	color: #bebebe;
}

#photos {
	padding: 10px 50px;
	flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.photo {
	margin: 20px;
}

img {
	border: 4px solid #bebebe;
}

footer {
	flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
	padding: 20px;
}
